<div id="container">
    <div *ngIf="selectedAlbum == undefined">
        <ul>
            <li *ngFor="let album of albums"
            [class.selected]="album === selectedAlbum"
            (click)="onSelect(album)">
                <app-album [album]="album"></app-album>
            </li>
        </ul>
    </div>

    <div *ngIf="selectedAlbum != undefined">
        <ul>
            <li *ngFor="let photo of photos">
                <app-photo [photo]="photo" *ngIf="photo.album === selectedAlbum.id"></app-photo>
            </li>
        </ul>
    </div>
</div>